table {
  border-spacing: 0.5rem;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 3px;
}

.platesnis {
  width: 500px;
}

.font-color-white {
  color: white;
}

#orange-color {
  background-color: orange;
}

#blue-color {
  background-color: blue;
}

#green-color {
  background-color: green;
}
