:root {
  --instaBlue: #385185;
}

body {
  background-color: rgb(233, 230, 230);
  background-color: #fafafa;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#login .content-wrapper {
  max-width: 70%;
  margin: 0 auto;
}

section {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  margin-top: 0.75rem;
}

.logo {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  margin: 2rem auto;
}

button,
input {
  display: block;
  width: 70%;
  width: 100%;
}

input {
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid lightgrey;
  background-color: #fafafa;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  margin: 5px auto;
}
@@ -33,8 +47,57 @@ button {
  color: white;
  margin: 1rem auto;
  border: none;
  background-color: rgba(0, 0, 255, 0.1);
  background-color: #afdcf9;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 900;
}

.line-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  color: grey;
  margin-bottom: 2rem;
}

.line {
  border-top: 1px solid lightgrey;
  width: 40%;
  margin: auto 0;
}

#facebook-link > p,
#facebook-link > i {
  color: var(--instaBlue);
  display: inline;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}

h5 {
  color: var(--instaBlue);
  font-weight: 400;
}

span {
  color: #1e9af6;
  font-weight: 800;
}

#sign-up .content-wrapper p {
  padding: 0.75rem;
}

.get-app img {
  max-width: 35%;
}

input::placeholder {
  padding-left: 0.5rem;
}
