table {
  margin: o auto;
}

td {
  border: 3px solid grey;
  width: 100px;
  height: 100px;
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

tr:nth-child(odd) td:nth-child(even) {
  background-color: black;
}
