body {
  background-color: rgb(62, 10, 111);
  text-align: center;
  color: rgb(126, 42, 11);
}

div {
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px dotted orange;
  margin: 5% 20%;
  padding: 2%;
}

h1 {
  color: orange;
  text-transform: uppercase;
}

h2 {
  text-transform: capitalize;
}

p {
  text-align: justify;
  letter-spacing: 2px;
}

span {
  font-size: 50px;
  padding-right: 10px;
}

img {
  width: 85%;
  /* border-top: 25px solid white;
  border-bottom: 25px solid green;
  border-left: 25px solid blue;
  border-right: 25px solid black;
  border-radius: 60px; */
  border-radius: 60px;
  border-width: 25px;
  border-style: solid;
  border-color: white black green blue;

  margin-top: 50px;
}
