body {
  background-color: rgb(222, 141, 153);
  text-align: center;
}

img {
  width: 350px;
  height: 250px;
  padding: 15px;
  border: 3px solid white;
  margin: 10px 50px;
  box-sizing: border-box;
}

.block2 {
  color: white;
  border: 3px solid white;
  margin: auto;
  padding: 15px;
  background-image: url("https://cdn.pixabay.com/photo/2018/06/07/12/43/photographer-3460058_960_720.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  box-sizing: border-box;
  line-height: 15px;
}

.block3 {
  color: white;
  border: 3px solid white;
  margin: auto;
  padding: 15px;
  background-image: url("https://cdn.pixabay.com/photo/2018/06/07/12/43/photographer-3460058_960_720.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 250px;
  box-sizing: content-box;
  line-height: 15px;
}
